NEXT_PUBLIC_SHOW_V2_LANDING=bool
NEXT_PUBLIC_API_ENDPOINT=http://localhost:5001/v1/

# Mapbox token for LocationPicker (get from https://account.mapbox.com/access-tokens/)
NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token_here

DO_KEY=DigitalOceanKey
DO_SECRET=DigitalOceanSecret

